# Input Formatting

In [1]:
#String Input
str = input("Enter a name: ")
print(str, type(str))

mani <class 'str'>

In [2]:
#Integer Input
num = int(input("Enter a number: "))
print(num, type(num))

3 <class 'int'>

In [4]:
#Float Input
f_num = float(input("Enter a float value: "))
print(f_num, type(f_num))

7.8 <class 'float'>

In [8]:
#Input as List (Space-separated)
lis_ss = input("Enter student names (space-separated): ").split()
print(lis_ss, type(lis_ss))

['mani', 'kalyan', 'kumar', 'sai', 'arun', 'ramya', 'swetha'] <class 'list'>

In [12]:
lis_cs = input("Enter values (comma-separated): ").split(',')
print(lis_cs, type(lis_cs))

['sai', 'kumar', 'kiran', 'gopal', 'mani'] <class 'list'>

In [14]:
#List of Integers
lis_int = list(map(int, input("Enter score of each subject: ").split(',')))
print(lis_int, type(lis_int))

[20, 30, 40, 50, 10, 60] <class 'list'>

In [15]:
#List of Floats
lis_float = list(map(float, input("Enter the price each item: ").split(',')))
print(lis_float, type(lis_float))

[330.55, 409.7, 890.5, 220.0, 450.2] <class 'list'>

In [16]:
#Tuple Input
tup_inp = tuple(map(int, input("Enter Product ID: ").split()))
print(tup_inp, type(tup_inp))

(101, 102, 103, 104, 105, 106) <class 'tuple'>

In [17]:
#Set Input
set_inp = set(map(int, input("Enter the Student ID: ").split(',')))
print(set_inp, type(set_inp))

{800, 801, 802, 809, 810} <class 'set'>

In [22]:
#Dictionary Input using eval()
dic_inp = eval(input("Enter student information: "))
print(dic_inp, type(dic_inp))

{'name': 'mani', 'id': 810, 'course': 'python'} <class 'dict'>

In [24]:
#Multiple Inputs with Unpacking
email, password = input("Enter email and password: ").split()
print(f"Your email:{email} and password:{password}")

Your email:mani@gmail.com and password:mani@