# Output Formatting

In [2]:
#Basic Examples of print()
#Printing text
print("Hello, World!")
#Printing Multiple Items
name = 'Kalyan' 
age = 25
print("Name:", name, "Age:", age)

#Using sep to Change the Separator
print("2025", "10", "07", sep="-")

#Using end to Control Line Endings
print("Good,", end=" ")
print("Moring")

Hello, World!
Name: Kalyan Age: 25
2025-10-07
Good, Moring

In [ ]:
#Printing Special Characters
print('Printing using Special Characters:')

##NewLine(\n):
print('NewLine:')
print("I'm very happy to meet kalyan after long time.\nHe become layer and now he is best criminal layer")

##Tab(\t):
print('Tab:')
print("Name:\tKalyan")

Printing using Special Characters:
NewLine:
I'm very happy to meet kalyan after long time.
He become layer and now he is best criminal layer
Tab:
Name:	Kalyan

In [8]:
#Using Commas (Simple Print Method)
print('Printing Using Commas:')
name = "Ramya" 
age = 22
score = 80.1
print("Name:", name, "Age:", age, "Score:", score)

#Using Modulo Operator(%Formatting)
print('Printing Using Modulo Operator:')
name = "Musthafa" 
age = 22
score = 78.4
print("Name: %s | Age: %d | Score: %.2f" % (name, age, score) )

#Using f-string
print('Printing Using f-string:')
name = "Venkat" 
age = 22
score = 79
print(f"Name: {name} | Age:{age} | Score:{score:.2f}")

#Using str.format() Method
print('Using str.format() Method:')
name = "Pavan Kumar" 
age = 22
score = 73
print("Name: {} | Age: {} | Score: {:.1f}".format(name, age, score))

Printing Using Commas:
Name: Ramya Age: 22 Score: 80.1
Printing Using Modulo Operator:
Name: Musthafa | Age: 22 | Score: 78.40
Printing Using f-string:
Name: Venkat | Age:22 | Score:79.00
Using str.format() Method:
Name: Pavan Kumar | Age: 22 | Score: 73.0