#Control Statements

In [9]:
names = {'mani','kalyan','ramya','kumar','arun'}
for ch in name:
    print(f"Name = {ch}")

Name = 1
Name = 2
Name = 3
Name = 4

In [8]:
name = {1:'mani',2:'kalyan',3:'ramya',4:'arun'}
for i in name.keys():
    print(f'{i}-{name[i]}')

1-mani
2-kalyan
3-ramya
4-arun

In [10]:
name = {1:'mani',2:'kalyan',3:'ramya',4:'arun'}
for i in name.keys():
    print(f'{i}-{name[i].capitalize()}')

1-Mani
2-Kalyan
3-Ramya
4-Arun

In [16]:
d = {}
inp = int(input())
s=0
for i in range(1,inp+1):
    s = i**2 
    d ={i:s}
    print(d)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}

In [17]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [19]:
for i in range(20,1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [1]:
for i in range(1,21):
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [21]:
for i in range(1,21):
    print(f'17 * {i} = {17*i}')

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
17 * 11 = 187
17 * 12 = 204
17 * 13 = 221
17 * 14 = 238
17 * 15 = 255
17 * 16 = 272
17 * 17 = 289
17 * 18 = 306
17 * 19 = 323
17 * 20 = 340

In [22]:
a=1
while(a<=10):
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10

In [28]:
email,pwd = 'mani@gmail.com','mani@'
max_attempt = 5
cur_attempt = 0
while cur_attempt <= max_attempt-1:
    e = input("enter the email: ")
    p = input("enter the pwd: ")
    if e == email and p == pwd:
        print("Login Successful")
        break
    else:
        print("Invalid email or pwd. Try again")
    cur_attempt += 1   
else:
        print("You reach maxumim attempts...!")

Invalid email or pwd. Try again
Login Successful

In [2]:
for i in range (2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [3]:
for i in range (1,11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [5]:
sum = 0
for i in range(1,11):
    sum += i
    print(f"{sum}:{i}")
print(f"Sum of integer: {sum}")

1:1
3:2
6:3
10:4
15:5
21:6
28:7
36:8
45:9
55:10
Sum of integer: 55

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1,n+1):
    fact = i * fact
    print(i, fact)
print(f"factoral of a number {n} is {fact}")

1 1
2 2
3 6
4 24
5 120
6 720
factoral of a number 6 is 720

In [1]:
n = int(input("Enter a number: "))
for i in range (1, n):
    if i==12:
        break
    print(i)
else:
    print("ENd of number")

1
2
3
4
5
6
7
8
9
10
11

In [2]:
for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [3]:
for i in range(1,20,2):
    if i == 17:
        break
    print(i)

1
3
5
7
9
11
13
15

In [4]:
for i in range(1,20,2):
    if i == 17:
        continue
    print(i)

1
3
5
7
9
11
13
15
19

In [20]:
l = ['smartphone','laptop','airpods','shoes']
for i in l:
    if i=='laptop':
        break
    print(i.center(20,'_'))
else:
    print('End of the items')

_____smartphone_____

In [22]:
bullets = 10 
while bullets>0:
    if bullets==5:
        print("Dead")
        break
    print(f"{bullets} are left-You can shoot()")
    bullets-=1
else:
    print("Game over")

10 are left-You can shoot()
9 are left-You can shoot()
8 are left-You can shoot()
7 are left-You can shoot()
6 are left-You can shoot()
Dead

In [ ]:
fact = 0
n - int(input("Enter the num: "))
for i in range(2,(n//2)+1):
    if n%i==0:
        fact+=1
if fact == 0:
    print(f"{n} is prime number|Factord count={fact}")
else:
    print(f"{n} is not prime number|Factord count={fact}")

In [ ]:
'''n = int(input())
fact = 0
for i in range(1,int(n**0.5)+1):
    if n%i == 0:
        fact += 1
    if fact == 0:
        print(i)'''

In [ ]:
d = {'apple':30,'banana':20,'watermelon':90,'papaya':45,'dragron Fruit':100,'grapes':35}

In [11]:
photo_gallery = {
    1 : 'beach.png',
    2 : 'mountain.jpg',
    3 : 'party1.jpg',
    4 : 'selfie.png',
    5 : 'birthday.png',
    6 : 'concwet.jpg',
    7 : 'sunset.png',
    8 : 'tripl.jpg'
}
print(f'Photo Gallery:')
for n in photo_gallery:
    print(f'{n}. {photo_gallery[n]}')
s = set(map(int,input("Your Selection: ").split(',')))
print("Sharing the following photos:")
for i in s:
    print(photo_gallery[i])

Photo Gallery:
1. beach.png
2. mountain.jpg
3. party1.jpg
4. selfie.png
5. birthday.png
6. concwet.jpg
7. sunset.png
8. tripl.jpg
Sharing the following photos:
beach.png
mountain.jpg
party1.jpg
selfie.png
birthday.png
concwet.jpg

In [10]:
print(f'Photo Gallery:')
for n in photo_gallery:
    print(f'{n}. {photo_gallery[n]}')

Photo Gallery:
1. beach.png
2. mountain.jpg
3. party1.jpg
4. selfie.png
5. birthday.png
6. concwet.jpg
7. sunset.png
8. tripl.jpg

## Gradeing System

In [ ]:
data={
    1:{'name':'Ramya','exam_status':True,'python':100,'sql':95,'html':98},
    2:{'name':'Arun','exam_status':True,'python':90,'sql':69,'html':75},
    3:{'name':'Kalyan','exam_status':True,'python':100,'sql':70,'html':100},
    4:{'name':'Kalyan','exam_status':True,'python':100,'sql':70,'html':100}
}
print("Students:")
print("Student ID \tName")
for i in data.keys():
    print(f"{i} \t: \t{data[i]['name']}")
stu_id = int(input("Enter Student id: "))
for stu_id in data:
    if data[stu_id]['exam_status'] == True:
        total = (data[stu_id]['python']+data[stu_id]['sql']+data[stu_id]['html'])//3
        if total

Students:
Student ID 	Name
1 	: 	Ramya
2 	: 	Arun
3 	: 	Kalyan
4 	: 	Kalyan
90

In [ ]:
import random

print('1.Rock')
print('2.Paper')
print('3.Scissors')
while True:
    ch = int(input("Enter your choice: "))
    com = random.randint(1,3)
    if ch == 1 and com == 1:
        print("Tie both choose the rock")
    elif ch==1 and com == 2:
        print("Computer win")

In [ ]:
g_s ={
    1:{'product':'rice',         'price':60},
    2:{'product':'Wheat Flour',  'price':45},
    3:{'product':'Sugar',        'price':40},
    4:{'product':'Milk',         'price':25},
    5:{'product':'Eggs (12 pcs)','price':70},
    6:{'product':'Cooking Oil',  'price':130},
    7:{'product':'Tea Powder',   'price':90},
    8:{'product':'salt',         'price':20},
    9:{'product':'Bread',        'price':30},
    10:{'product':'Soap',        'price':25}
}
print("------ Welcome to Grocery Store ------")
print("Here are the available products:")
print("Index \tProducts  \t\tPrice (Rs.)")
for i in g_s.keys():
    print(f"{i} \t{g_s[i]['product'].ljust(7)} \t\t{g_s[i]['price']}")

print("Enter the product indexes you want to buy (you can repeat indexes)")
items = list(map(int,input("Enter index (e.g. 1 2 2 5): ").split()))
print("Index \tProducts \tCount \t\tPrice (Rs.) \tTotal")
t = 0
ids = set()
c = 0
for j in items:
    if j not in ids:
        c = items.count(j)
        t += g_s[j]['price']*c
        print(f"{j} \t{g_s[j]['product'].ljust(7)} \t{c} \t\t{g_s[j]['price']} \t\t{t}")
        ids.add(j)
print("Total Bill:",t)

------ Welcome to Grocery Store ------
Here are the available products:
Index 	Products  		Price (Rs.)
1 	rice    		60
2 	Wheat Flour 		45
3 	Sugar   		40
4 	Milk    		25
5 	Eggs (12 pcs) 		70
6 	Cooking Oil 		130
7 	Tea Powder 		90
8 	salt    		20
9 	Bread   		30
10 	Soap    		25
Enter the product indexes you want to buy (you can repeat indexes)
Index 	Products 	Count 		Price (Rs.) 	Total
1 	rice    	5 		60 		300
2 	Wheat Flour 	2 		45 		390
3 	Sugar   	2 		40 		470
4 	Milk    	2 		25 		520
5 	Eggs (12 pcs) 	1 		70 		590
6 	Cooking Oil 	1 		130 		720
7 	Tea Powder 	1 		90 		810

# Nested Loops

In [15]:
for j in range(5):
    for i in range(5):
        print('*',end=' ')
    print('\n')

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [ ]:
for row in range(5):
    for col in range(5):
        print(row,end=' ')
    print('\n')

0 0 0 0 0

1 1 1 1 1

2 2 2 2 2

3 3 3 3 3

4 4 4 4 4

In [22]:
for row in range(5):
    for col in range(5):
        print(col,end=' ')
    print('\n')

0 1 2 3 4

0 1 2 3 4

0 1 2 3 4

0 1 2 3 4

0 1 2 3 4