#Control Statements

In [9]:
names = {'mani','kalyan','ramya','kumar','arun'}
for ch in name:
    print(f"Name = {ch}")

Name = 1
Name = 2
Name = 3
Name = 4

In [8]:
name = {1:'mani',2:'kalyan',3:'ramya',4:'arun'}
for i in name.keys():
    print(f'{i}-{name[i]}')

1-mani
2-kalyan
3-ramya
4-arun

In [10]:
name = {1:'mani',2:'kalyan',3:'ramya',4:'arun'}
for i in name.keys():
    print(f'{i}-{name[i].capitalize()}')

1-Mani
2-Kalyan
3-Ramya
4-Arun

In [16]:
d = {}
inp = int(input())
s=0
for i in range(1,inp+1):
    s = i**2 
    d ={i:s}
    print(d)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}

In [17]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [19]:
for i in range(20,1,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [1]:
for i in range(1,21):
    print(f'2 * {i} = {2*i}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

In [21]:
for i in range(1,21):
    print(f'17 * {i} = {17*i}')

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
17 * 11 = 187
17 * 12 = 204
17 * 13 = 221
17 * 14 = 238
17 * 15 = 255
17 * 16 = 272
17 * 17 = 289
17 * 18 = 306
17 * 19 = 323
17 * 20 = 340

In [22]:
a=1
while(a<=10):
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9
10

In [28]:
email,pwd = 'mani@gmail.com','mani@'
max_attempt = 5
cur_attempt = 0
while cur_attempt <= max_attempt-1:
    e = input("enter the email: ")
    p = input("enter the pwd: ")
    if e == email and p == pwd:
        print("Login Successful")
        break
    else:
        print("Invalid email or pwd. Try again")
    cur_attempt += 1   
else:
        print("You reach maxumim attempts...!")

Invalid email or pwd. Try again
Login Successful

In [2]:
for i in range (2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [3]:
for i in range (1,11):
    if i%2 == 0:
        print(i)

2
4
6
8
10

In [5]:
sum = 0
for i in range(1,11):
    sum += i
    print(f"{sum}:{i}")
print(f"Sum of integer: {sum}")

1:1
3:2
6:3
10:4
15:5
21:6
28:7
36:8
45:9
55:10
Sum of integer: 55

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1,n+1):
    fact = i * fact
    print(i, fact)
print(f"factoral of a number {n} is {fact}")

1 1
2 2
3 6
4 24
5 120
6 720
factoral of a number 6 is 720

In [1]:
n = int(input("Enter a number: "))
for i in range (1, n):
    if i==12:
        break
    print(i)
else:
    print("ENd of number")

1
2
3
4
5
6
7
8
9
10
11

In [2]:
for i in range(1,11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [3]:
for i in range(1,20,2):
    if i == 17:
        break
    print(i)

1
3
5
7
9
11
13
15

In [4]:
for i in range(1,20,2):
    if i == 17:
        continue
    print(i)

1
3
5
7
9
11
13
15
19

In [20]:
l = ['smartphone','laptop','airpods','shoes']
for i in l:
    if i=='laptop':
        break
    print(i.center(20,'_'))
else:
    print('End of the items')

_____smartphone_____

In [22]:
bullets = 10 
while bullets>0:
    if bullets==5:
        print("Dead")
        break
    print(f"{bullets} are left-You can shoot()")
    bullets-=1
else:
    print("Game over")

10 are left-You can shoot()
9 are left-You can shoot()
8 are left-You can shoot()
7 are left-You can shoot()
6 are left-You can shoot()
Dead

In [ ]:
fact = 0
n - int(input("Enter the num: "))
for i in range(2,(n//2)+1):
    if n%i==0:
        fact+=1
if fact == 0:
    print(f"{n} is prime number|Factord count={fact}")
else:
    print(f"{n} is not prime number|Factord count={fact}")

In [ ]:
'''n = int(input())
fact = 0
for i in range(1,int(n**0.5)+1):
    if n%i == 0:
        fact += 1
    if fact == 0:
        print(i)'''

In [ ]:
d = {'apple':30,'banana':20,'watermelon':90,'papaya':45,'dragron Fruit':100,'grapes':35}